main > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/**/


.navbar-collapse {
    flex-grow: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: black;
}

.bg-dark2 {
    background-color: #ccc !important;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: #007bff;
}

.img-responsive{
    min-width: 7rem;
    max-width: 7rem;
}

.col-form-label {
    /*padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);*/
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: inherit;
    line-height: 1.5;
}

body {
    font-family: "Open Sans",sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.6;
    /*color: #677788;*/
    color: #292b2c;
    text-align: left;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.6em + 1.21875rem);
    padding: .54688rem .875rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.6;
    color: #1e2022;
    background-color: #fff;
    background-clip: padding-box;
    border: .0625rem solid #e7eaf3;
    border-radius: .3125rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.custom-checkbox{
    margin-left: 6%;
}

.log-button{
    width: 100%;
    padding: 14px;
}

.display-4 {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.4;
}

.wrap-login{
    display: flex;
    justify-content: end;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
     font-size: 100%;
    color: #dc3545;
}

.list-checked-item {
    position: relative;
    display: block;
    color: #677788;
    padding-left: 1.75rem;
    margin: .5rem;
}

.list-checked-item::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 110 110' fill='%2371869d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M98.1,16.2c-2.5-2.3-6.4-2.2-8.7,0.2L36.7,70.1l-13-15.5c-2.9-3.5-7.9-4.1-11.1-1.4c-2.9,2.4-3.5,6.6-1.4,10.1l16.5,28c3.2,5.4,10.8,5.8,14.5,0.8l56.5-67.3C100.7,22.1,100.4,18.5,98.1,16.2z'/%3E%3C/svg%3E%0A") no-repeat right center/1rem 1rem;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='9' viewBox='0 0 100 90' fill='%23377dff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M98.1,16.2c-2.5-2.3-6.4-2.2-8.7,0.2L36.7,70.1l-13-15.5c-2.9-3.5-7.9-4.1-11.1-1.4c-2.9,2.4-3.5,6.6-1.4,10.1l16.5,28c3.2,5.4,10.8,5.8,14.5,0.8l56.5-67.3C100.7,22.1,100.4,18.5,98.1,16.2z'/%3E%3C/svg%3E%0A");
    content: "";
    margin-top: .125rem;
}

